<app-header titulo="Grid"></app-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">12</ion-col>
      <ion-col size="6">6</ion-col>
      <ion-col size="6">6</ion-col>
      <ion-col size="3">3</ion-col>
      <ion-col size="3">3</ion-col>
      <ion-col size="3">3</ion-col>
      <ion-col size="3">3</ion-col>
      <br><br>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <!-- Con este ngFor adaptarian al tamaño establecido de 12 que tiene el grid, 
       pero al añadir mas contenido aparte de las imagenes irá colocándolo de modo que entre. pero dependera del tamaño de pantalla
       y de la orientacion siempre y cuando mantengamos el responsive  -->
      <ion-col *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]">
        <ion-card>
          <ion-img src="assets/alf.jpeg"></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex earum molestiae sunt delectus aliquid consequatur culpa voluptate, magni nihil, distinctio incidunt repellendus non saepe officia adipisci! Maiores nesciunt officiis magni.
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>