<ion-header [translucent]="true">

  <ion-toolbar>
    <!-- Pongamos el botón de back slot="start" se refiere al principio de la toolbar -->

    <ion-buttons slot="start">
      <!-- boton de atras, texto del boton, color del boton, estetica de ios, con "md" seria la de android -->
      <ion-back-button  
      defaultHref="/" 
      text="Volver" 
      color="primary" 
      mode = "ios"></ion-back-button>
    </ion-buttons>

    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">action-sheet</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>