<app-header titulo="Fab"></app-header>

<!-- Vamoa crear una lista para visualizar como ella se moverá 
pero no lo hará el fab si le ponemos la propiedad correcta ni se movera el footer.
Atencion al uso del segundo let en el ngFor y que index es un atributo ya proporcionado por el sistema. -->

<!-- Aprovecho para usar avatares aleaotios con esa web + el index -->
<!-- Boton abajo derecha no hace nada pero está sin fijar con slot="fixed" para ver que ocurre, mal. -->

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let d of data; let i = index ">
      <ion-avatar slot="start">
        <img [src]="'https://picsum.photos/80/80?random=' + i" alt="avatar" />
      </ion-avatar>
      <ion-label>Item {{i+1}}</ion-label>
    </ion-item>
  </ion-list>


  <!--   Boton arriba centro no hace nada , es mas pequeño que el resto por el small -->
  <ion-fab slot="fixed" horizontal="center" vertical="top">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Boton centro que saca otros botones hacia todas partes con colores -->
  <ion-fab slot="fixed" horizontal="center" vertical="center">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary">
        <ion-icon name="chevron-up"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button color="tertiary">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button color="warning">
        <ion-icon name="chevron-down"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color="danger">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="dark">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- Boton superior izquierda que saca botones hacia la derecha -->
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="chevron-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- Boton superior derecha que saca botones hacia abajo -->
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- Boton centro derecha que saca botones hacia arriba -->
  <ion-fab slot="fixed" vertical="center" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<!-- El footer lo ponemos despues del content eso si -->
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>