<app-header titulo="Card"></app-header>


<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>SUBTITULO DE LA TARJETA</ion-card-subtitle>
      <ion-card-title> Titulo de la tarjeta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dolores aliquid illum quia reiciendis dolorem
      laborum nostrum consectetur, eos optio, voluptatum officiis atque, nesciunt veritatis qui accusantium a quis
      mollitia.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <img alt="Charizard"
      src="https://wallpapers.com/images/hd/charizard-pokemon-pictures-1280-x-720-z0uot60vcwes3pvk.jpg" />
    <ion-card-header>
      <ion-card-title>Tarjeta de Charizard</ion-card-title>
      <ion-card-subtitle>ES RESPONSIVE</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

    <ion-button fill="clear" (click)="clickAccion1()">Action 1</ion-button>
    <ion-button fill="clear" (click)="clickAccion2()">Action 2</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://www.shareicon.net/data/512x512/2016/08/05/807319_gaming_512x512.png" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjqq_exMuWhgetms2uutNc3ZnQXN0p7nrHsQ&s" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmuyBMkbvMtCiZkJdaN8tNTPU3Q9hBoLqBzA&s" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://www.shareicon.net/data/2016/08/05/807317_gaming_512x512.png" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://www.shareicon.net/data/256x256/2016/08/05/807312_gaming_512x512.png" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> Card Content </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> Card Content </ion-card-content>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> Card Content </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> Card Content </ion-card-content>
  </ion-card>

  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> Card Content </ion-card-content>
  </ion-card>

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> Card Content </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> Card Content </ion-card-content>
  </ion-card>

  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> Card Content </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> Card Content </ion-card-content>
  </ion-card>

</ion-content>